@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');


$theme-colors: (
  "primary": #17a2b8,
  "secondary": salmon,
  "dark": #2E2B29,
  "info": #ffc107,
);

$body-bg: #393939;
$body-color: #fff;

$link-color:                              #fff !default;
$link-decoration:                         none !default;
$link-hover-color:                        #17a2b8 !default;
$link-hover-decoration:                   underline !default;

$font-family-base: 'Raleway', sans-serif;

h1,h2,h3,h4,h5,h6 {
  color: #17a2b8;
  margin: 20px 0 20px 0;
}

p {
  font-size: 1.1rem
}

.socialLink a:hover{
  text-decoration: none;
}

.socialLink{
  padding: 10px;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  align-content: center;
  margin: 0 auto;
}

.skill{
  font-size: 3rem;

  &:hover{
    transform: scale(1.2);
    color: salmon;
    transition: 0.3s;
  }
}

.pageContent {
  margin: 0 auto;
  max-width: 960;
  min-height: 100vh;
  padding: 1rem;
}

footer{
  padding: 20px 0 10px 0;
  background-color: #222222;
  text-align: center;
  
  p {
    font-size: 0.9rem;
    padding: 0;
    margin: 0;
  } 

  i {
    margin: 0 10px 10px 10px;
  }

}
.footer-nav{
  font-size: 1rem;
}

.mybrand{
  padding: 10px;
  margin: 10px;
  font-size: 1.6rem;
  border-radius: 10px;
  color: #222222;
  background-color: #17a2b8;
}


nav a {
  font-size: 1.3rem;
  color: white;
  text-decoration: none;

  &:hover{
    color: #17a2b8;
    text-decoration: none;
  }
}

.projectCard {
  &:hover{
    cursor: pointer;
    transform: scale(1.05);
    transition: 0.3s
  }
}

.projectCard a {
  &:hover{
    color: white;
    text-decoration: none;
  }
}

@import "../../../node_modules/bootstrap/scss/bootstrap.scss"